.auth-container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-header {
  margin-bottom: 2em;
}

.about-button {
  position: fixed;
  margin-bottom: 2em;
  bottom: 0;
}
